.custom-explore-button {
    width: auto;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background-color: #fb923c; /* Orange base */
    border-radius: 30px;
    color: white;
    font-weight: 400;
    border: none;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease;
    padding: 0 16px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
  }
  
  .custom-explore-button .svgIcon {
    height: 25px;
    transition: transform 1.5s ease;
    fill: white;
  }
  
  .custom-explore-button:hover {
    background-color: #f97316; /* Orange hover */
  }
  
  .custom-explore-button:active {
    transform: scale(0.97);
  }
  
  .custom-explore-button:hover .svgIcon {
    transform: rotate(250deg);
  }
  